{% extends 'head.html' %}
{% load static %}
{% block title %}Article{% endblock %}
{% block body%}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{% static 'img/core-img/breadcrumb-line.png' %}" alt="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item ">Articles</li>
                        <li class="breadcrumb-item active" aria-current="page">{{article.title}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- ##### Content start ##### -->
<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- osts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Post Details Area -->
                    <div class="single-post-details-area">
                        <div class="post-thumbnail mb-30">
                            <img src="{{article.image.url}}" alt="">
                        </div>
                        <div class="post-content">
                            <p class="post-date">{{article.date}}</p>
                            <h4 class="post-title">{{article.title}}</h4>
                            <div class="post-meta">
                                <a href="#"><span>by</span> {{article.author}}</a>
                                <a href="#"><i class="fa fa-eye"></i> {{article.vues}}</a>
                            </div>
                            <p>{{article.content}}</p>
                            <blockquote>
                                <div class="blockquote-icon">
                                    <img src="{% static 'img/core-img/quote.png' %}" alt="">
                                </div>
                                <div class="blockquote-text">
                                    <h6>That’s not to say you’ll have the exact same thing if you stop by: the restaurant’s menus change constantly, based on seasonal ingredients.</h6>
                                    <h6>Ollie Schneider</h6>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <!-- Related Post Area -->
                    <div id="feedback" style="display: none;">
                        <ol class="d-flex">
                            <li style="padding: 15px;width: 100%;"><a href="{% url 'objective' %}?id" class="btn btn-dark" style="width: 100%">Finished reading</a></li>
                        </ol>
                        <!-- Line -->
                        <div class="curve-line bg-img" style="background-image: url({% static 'img/core-img/breadcrumb-line.png' %});"></div>
                    </div>
                </div>
            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="post-sidebar-area">

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area mt-0">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Ma famille </h6>
                        </div>
                        <ol class="foode-catagories">
                            {% for o in objcts %}
                            <li><a href="#"><span><i class="fa fa-stop" aria-hidden="true"></i> {{o.user.name}}</span> <span>({{o.progress}})</span></a></li>
                            {% endfor %}
                            }
                        </ol>
                    </div>

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area" style="max-height: 40%; overflow-y: auto;">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Latest Posts</h6>
                        </div>

                        {% for a in articles_list %}
                        <!-- Single Latest  Posts -->
                        <div class="single-latest-post d-flex">
                            <div class="post-thumb">
                                <a href="{% url 'post' %}?article_id={{a.id}}"><img src="{{a.image.url}}" ></a>
                            </div>
                            <div class="post-content">
                                <a href="{% url 'post' %}?article_id={{a.id}}" class="post-title">
                                    <h6>{{a.title}}</h6>
                                </a>
                                <a href="{% url 'post' %}?article_id={{a.id}}" class="post-author"><span>by</span> {{a.author}}</a>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Blog Content Area End ##### -->

<!-- ##### Instagram Area Start ##### -->
    <div class="follow-us-instagram">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Quiz</h2>
                        <span>{{article.disipline.title}}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="instagram-slides owl-carousel">
                        {% for qs in quiz%}
                        <div class="single-instagram-slide">
                            <img src="{{qs.image.url}}" style="max-height: 100px;">
                            <a href="{% url 'quiz' %}?quiz_id={{qs.id}}">{{qs.title}}</a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ##### Instagram Area End ##### -->

{% block start %}
<script type="text/javascript">
    setTimeout(function () {
        $('#feedback').show();
    })
</script>
{% endblock%}

{% endblock%}
