{% extends 'head.html' %}
{% block title %}Quiz{% endblock %}
{% load static %}
{% block body%}

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="{% static 'img/core-img/breadcrumb-line.png' %}" alt="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quiz</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

        <div class="container">
            <div class="formulaire" id="formulaire" {% if play_quiz is None %} style="display: none;" {% endif %}>
                <form>
                <div>
                    <p class="question">{{play_quiz.quiz.title}}</p>
                </div>
                <div id="qsthouse" >
                    <p class="question" id="qst"></p>
                    <button type="button" class="btn btn-info true"  onclick="next('vrai')"><i class=" fa fa-check "></i></button>
                    <button type="button" class="btn btn-info false" onclick="next('faux')"><i class=" fa ">X</i></button>
                </div>
                <script type="text/javascript">
                    function quiz(i,q) {
                        document.getElementById('qst').innerHTML=q[i][0];
                    }
                    function next(rpns) {
                        if (rpns == qsts[i][1]) {
                            document.getElementById('formulaire').style="background-color : green;";
                            setTimeout(function () {
                                document.getElementById('formulaire').style="background-color : white;";
                            },500);
                            score++;
                        }else{
                            document.getElementById('formulaire').style="background-color : red;";
                            setTimeout(function () {
                                document.getElementById('formulaire').style="background-color : white;";
                            },500);
                        }
                        if (qsts.length-1>i) {   
                            i++;
                            quiz(i,qsts);
                        }else{

                            $.ajax({
                                url:"{% url 'hist' %}",
                                type:"POST",
                                data:{sc : score,quiz_id : '{{play_quiz.quiz.id}}', csrfmiddlewaretoken : '{{csrf_token}}'},
                                success:function (res) {
                                    //alert(res['reponse']);
                                    document.getElementById('formulaire').innerHTML='<h1>Score :'+score+'</h1>';
                                }
                            });
                        }
                    }

                    qsts=[{% for qs in play_quiz.qst %}['{{qs.description}}','{{qs.reponse}}'] {%if not forloop.last %},{% endif %}{% endfor %}];
                    i=0;
                    score=0;
                    quiz(i,qsts);




                </script>
            </form>
        </div>
    </div>

    <br><br><br>

    {% for qq in disip_quiz %}
    <div class="follow-us-instagram">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <span>{{qq.disipline.title}}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="instagram-slides owl-carousel">
                        {% for qs in qq.quiz%}
                        <div class="single-instagram-slide">
                            <img src="{{qs.image.url}}" style="max-height: 100px">
                            <a href="{% url 'quiz' %}?quiz_id={{qs.id}}">{{qs.title}}</a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <img class="footer-curve" src="{% static 'img/core-img/foo-curve.png' %}" alt="">
    <br>
    {% endfor %}
    {% endblock%}
